@font-face {
	font-family: "Brandon Text Light";
	src: url("../fonts/BrandonText-Light.eot");
	src: local("Brandon Text Light"), local("BrandonText-Light"),
		url("../fonts/BrandonText-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Light.woff") format("woff"), url("../fonts/BrandonText-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Bold";
	src: url("../fonts/BrandonText-Bold.eot");
	src: local("Brandon Text Bold"), local("BrandonText-Bold"),
		url("../fonts/BrandonText-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Bold.woff") format("woff"), url("../fonts/BrandonText-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Medium";
	src: url("../fonts/BrandonText-Medium.eot");
	src: local("Brandon Text Medium"), local("BrandonText-Medium"),
		url("../fonts/BrandonText-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Medium.woff") format("woff"), url("../fonts/BrandonText-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Regular";
	src: url("../fonts/BrandonText-Regular.eot");
	src: local("Brandon Text Regular"), local("BrandonText-Regular"),
		url("../fonts/BrandonText-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Regular.woff") format("woff"),
		url("../fonts/BrandonText-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

@media (min-width: 1199px) {}
@media (min-width: 991px) {}
@media (min-width: 767px) {}
@media (min-width: 575px) {}

* {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	width: 100%;
	// min-width: 1245px;
	background: #16181c;
	font-family: "Brandon Text Light";
	font-size: 16px;
	min-height: 100px;
	.header-logo {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		img {
			vertical-align: middle;
			width: 181px;
			height: 50px;
			margin: 25px 0 25px 40px;
		}
	}
	.header-menu {
		display: inline-block;
		vertical-align: middle;
		width: 62%;
		ul {
			display: inline-block;
			list-style-type: none;
			color: #ffffff;
			width: 100%;
			// min-width: 550px;
			// margin-top: 39px;
			li {
				display: inline-block;
				// margin-left: 2.8%;
				width: 16%;
				min-width: 100px;
				text-align: center;
				a {
					color: #ffffff;
					text-decoration: none;
					&:hover {
						border-bottom: 1px solid #4396f6;
					}
				}
			}
		}
	}
		.header-contacts {
			display: inline-block;
			vertical-align: middle;
			background-color: #296dbb;
			height: 40px;
			width: 160px;
	// 		margin: 29px 40px 31px 55px;
			border-radius: 18px;
			p {
				margin: 9px 0 0 0;
				text-align: center;
				a {
					color: #fefeff;
					text-decoration: none;
				}
			}
		}
	}


.header-screen {
	background-color: #0c111e;
	font-family: "Brandon Text Bold";
	font-size: 72px;
	img {
		// position: relative;
		max-width: 100%;
		height: auto;
		min-width: 1245px;
	}
	p {
		// position: absolute;
		color: #ffffff;
		margin-top: 17.7%;
		top: 0;
		left: 10.1%;
		width: 34.6%;
		min-width: 580px;
		span {
			color: #4396f6;
		}
	}
}
