@font-face {
	font-family: "Brandon Text Light";
	src: url("../fonts/BrandonText-Light.eot");
	src: local("Brandon Text Light"), local("BrandonText-Light"),
		url("../fonts/BrandonText-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Light.woff") format("woff"), url("../fonts/BrandonText-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Bold";
	src: url("../fonts/BrandonText-Bold.eot");
	src: local("Brandon Text Bold"), local("BrandonText-Bold"),
		url("../fonts/BrandonText-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Bold.woff") format("woff"), url("../fonts/BrandonText-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Medium";
	src: url("../fonts/BrandonText-Medium.eot");
	src: local("Brandon Text Medium"), local("BrandonText-Medium"),
		url("../fonts/BrandonText-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Medium.woff") format("woff"), url("../fonts/BrandonText-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Brandon Text Regular";
	src: url("../fonts/BrandonText-Regular.eot");
	src: local("Brandon Text Regular"), local("BrandonText-Regular"),
		url("../fonts/BrandonText-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/BrandonText-Regular.woff") format("woff"),
		url("../fonts/BrandonText-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}

* {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
	background: #16181c;
	font-family: "Brandon Text Light";
	font-size: 16px;
	height: 100px;
	.header-logo {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		width: 12%;
		img {
			vertical-align: middle;
			width: 181px;
			height: 50px;
			margin: 25px 0 25px;
			margin-left: 20%;
		}
	}
	.header-menu {
		position: absolute;
		right: 0;
		top: 30px;
		display: inline-block;
		ul {
			display: inline-block;
			list-style-type: none;
			color: #ffffff;
			width: 100%;
			min-width: 925px;
			position: absolute;
			right: 0;
			li {
				display: inline-block;
				width: 13%;
				text-align: center;
				a {
					color: #ffffff;
					text-decoration: none;
					&:hover {
						border-bottom: 1px solid #4396f6;
					}
				}
			}
			.header-contacts {
				display: inline-block;
				vertical-align: middle;
				background-color: #235fa4;
				height: 40px;
				width: 160px;
				border-radius: 18px;
				text-align: center;
				&:hover {
					background-color: #296dbb;
				}
				a {
					display: inline-block;
					margin: 8.5px;
					&:hover {
						border-bottom: none;
					}
				}
			}
		}
	}
}

.header-screen {
	position: relative;
	background-color: #0c111e;
	font-family: "Brandon Text Bold";
	font-size: 72px;
	padding-top: 99px;
	img {
		max-width: 100%;
		height: 100%;
		width: 100%;
	}
	.header-screen-text {
		position: absolute;
		color: #ffffff;
		margin-top: 15%;
		top: 0;
		left: 10.1%;
		width: 60%;
		min-width: 580px;
		span {
			color: #4396f6;
		}
	}
}

.services {
	min-height: 1190px;
	background-color: #0c111e;
	h3 {
		font-family: "Brandon Text Bold";
		font-size: 66px;
		color: #ffffff;
		text-align: center;
		padding: 55px 0 20px;
		a {
			text-decoration: none;
			color: inherit;
			padding-top: 100px;
			margin-top: -100px;
		}
	}
	.services-content {
		font-family: "Brandon Text Regular";
		font-size: 20px;
		line-height: 30px;
		color: #bfbfbf;
		text-align: center;
		margin-bottom: 30px;
		padding: 0 10%;
	}
	.services-block {
		text-align: center;
		.row {
			display: block;
			.services-element {
				position: relative;
				display: inline-block;
				box-sizing: border-box;
				vertical-align: middle;
				background-color: #111826;
				margin: 2% 4%;
				width: 280px;
				height: 350px;
				border-top: 2px solid #162d4c;
				border-bottom: 2px solid #162d4c;
				// padding: 40px;
				img {
					margin-top: 30%;
					width: 50%;
					height: auto;
				}
				p {
					position: absolute;
					bottom: 15%;
					font-family: "Brandon Text Medium";
					font-size: 24px;
					color: #ffffff;
					width: 100%;
				}
			}
		}
	}
}

.technologies {
	min-height: 880px;
	background-color: #e9eaea;
	h3 {
		font-family: "Brandon Text Bold";
		font-size: 66px;
		color: #0e1420;
		text-align: center;
		padding: 100px 0 41px;
		a {
			text-decoration: none;
			color: inherit;
			padding-top: 100px;
			margin-top: -100px;
		}
	}
	.technologies-content {
		font-family: "Brandon Text Medium";
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		margin-bottom: 40px;
	}
	.technologies-slide {
		background-color: #ffffff;
		width: 90%;
		height: 490px;
		margin: 0 5%;
		position: relative;
		.slide-title {
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			font-family: "Brandon Text Bold";
			font-size: 24px;
			width: 29%;
			height: 100%;
			padding: 3% 0 3% 2.4%;
			.title-slide {
				height: 35px;
				color: #55585d;
				margin: 10px 0;
				span {
					font-family: "Brandon Text Medium";
					font-size: 16px;
					margin: 3px 8px 0;
					vertical-align: top;
					display: inline-block;
					//////////////
					// border-right: 1px solid;
					// padding-right: 8px;
				}
			}
		}
		.vertical-line {
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			width: 2%;
			height: 90%;
			border-right: 2px solid #000000;
			margin-top: 2%;
		}
	}
}

input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + .radio-class {
	font-size: 40px;
	.title-slide {
		// background-color: yellow;
		margin: 0 -10px 20px;
		width: 391px;
		span {
			border-right: 1px solid;
			padding-right: 8px;
			margin: 14px 8px 0;
		}
	}
}

input[type="radio"]:checked + .radio-class + .tab-content {
	display: block;
}

.tab-content {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	box-sizing: border-box;
	padding: 30px;
	width: 69%;
	height: 100%;
	.slide-content {
		font-family: "Brandon Text Regular";
		font-size: 20px;
		line-height: 30px;
		color: #0e1420;
		.slide-content-icons {
			text-align: center;
			.icons-wrap {
				display: inline-block;
				text-align: center;
				margin: 2% 5%;
				img {
					width: 80px;
					height: 80px;
				}
				p {
					font-family: "Brandon Text Medium";
					font-size: 24px;
				}
			}
		}
	}
}

.how-we-work {
	min-height: 633px;
	background-color: #235fa4;
	h3 {
		font-family: "Brandon Text Bold";
		font-size: 66px;
		color: #ffffff;
		text-align: center;
		padding: 50px;
		a {
			text-decoration: none;
			color: inherit;
			padding-top: 100px;
			margin-top: -100px;
		}
	}
}